/arreglos/dist/
/JavaApplication5/nbproject/private/
/Mascota/nbproject/private/
/Mascota/build/
/proyectosOrientadosaObjetos/nbproject/private/
/proyectosOrientadosaObjetos/build/
/proyectosOrientadosaObjetos/dist/
/POO.EJERCICIOSEXTRA/nbproject/private/
/POO.EJERCICIOSEXTRA/build/
/Mascota/dist/
/ServiciosJava/nbproject/private/
/ServiciosJava/build/
/ServiciosEjercicio2/nbproject/private/
/ServiciosEjercicio1/nbproject/private/