/arreglos/dist/
/JavaApplication5/nbproject/private/
/Mascota/nbproject/private/
/Mascota/build/
/proyectosOrientadosaObjetos/nbproject/private/
/proyectosOrientadosaObjetos/build/
/proyectosOrientadosaObjetos/dist/